#one{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }

#skele{
    text-align: center;
    margin-top: 350px;
    width: 100%;
  }

html{
    background-color: black;
}